body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #d48a4f; /* Coffee brown color */
    padding: 10px 0;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

a {
    color: inherit; /* Inherit color from parent element */
    cursor: pointer;
    text-decoration: none; /* Remove the underline */
    margin: 10px; /* Add a small margin */
}

.content {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.welcome {
    text-align: center;
    padding: 50px 0;
}

.welcome h2 {
    font-size: 2.5rem;
    color: #d48a4f; /* Coffee brown color */
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.25rem;
    color: #555;
}

.background-image {
    background-image: url('/images/coffee-bg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Viewport height, making the section fill the entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay for better text visibility */
    padding: 0px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347; /* Tomato color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ff4500; /* Darker shade on hover */
}

